
@font-face {
  font-family: sov-monomon; /* ชื่อฟอนต์ */
  src: url('font/SOV_monomon-hinted.ttf') format('truetype'), /* ที่อยู่ของฟอนต์ */ 
       url('SOV_monospace-hinted.ttf') format('truetype'); /* ที่อยู่ของฟอนต์ */
  font-weight: normal; /* น้ำหนักฟอนต์ */
  font-style: normal; /* รูปแบบฟอนต์ */
}

body {
  margin: 0;
  font-family: 'sov-monomon', sans-serif;
  background-color: #0e0e0e;
  color: #ffffff;
}

header.top-bar {
  background-color: #0e0e0e;
  border-bottom-style:solid;
  border-color: #eb1958;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2000;
}

nav ul {
  list-style: none; /* เอาสัญลักษณ์หัวข้อย่อยออก */
  padding: 0;
  margin: 0;
  display: flex; /* ทำให้รายการเรียงกันในแนวนอน */
  border-radius: 5px; /* ขอบมน */
  background-color: #eb1958; /* สีพื้นหลัง */
  li {
    margin: 5px; /* ระยะห่างระหว่างรายการ */
    a {
      display: block; /* ทำให้ลิงก์เต็มพื้นที่ของ li */
      padding: 10px 20px; /* ระยะห่างภายในปุ่ม */
      text-decoration: none; /* เอาเส้นใต้ลิงก์ออก */
      background-color: #ffc445; /* สีพื้นหลังปุ่ม */
      color: white; /* สีตัวอักษร */
      border-radius: 5px; /* ขอบมน */
      text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
      transition: background-color color filter 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
      display: block; /* ทำให้ลิงก์เต็มพื้นที่ของ li */
    }
    a:hover {
      background-color: #ffffff; /* สีพื้นหลังเมื่อเม้าส์ไปชี้ */
      color: #000000; /* สีตัวอักษรเมื่อเม้าส์ไปชี้ */
      img {
        filter: invert(0%); /* สีภาพของรูปเมื่อเม้าส์ไปชี้ */
      }
    }
  }
}

nav#h ul {
  display: flex;
  align-items: center; /* จัดรายการให้อยู่ตรงกลางในแนวนอน */
  flex-direction: row;
  li {
    display: flex;
    margin: 5px;
    align-items: center; /* จัดรายการให้อยู่ตรงกลางในแนวนอน */
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      width: 6em;
      height: 10px;
      padding-right: 0.8em;
      text-wrap: wrap; /* ข้อความขึ้นบรรทัดใหม่เมื่อเต็ม */
      img {
        width: 1.3em;
        height: 1.3em;
        display: flex;
        margin: 0 -5px;
        transform: translateX(-50%);
      }
    }
  }
}

nav#v ul {
  display: flex;
  justify-content: center; /* จัดรายการให้อยู่ตรงกลางในแนวตั้ง */
  flex-direction: column; /* ให้การแสดงผลประเภทนี้มาเป็นแนวตั้ง */
  #sidemenu {
    height: 10em;
  }
  li {
    display: flex;
    justify-content: center;
    margin: 6px;
    a {
      display: flex;
      align-items: center;
      width: 10em;
    }
  }
}

.logo img {
  height: 40px;
}

img.invert {
  filter: invert(100%);
}

.header-buttons {
  display: flex;
  gap: 0.5rem;
  button {
    background-color: #ffc445;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
}

.menu-toggle {
  display: block;
  background-color: #ffc445;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.side-bar {
  background-color: #0e0e0e;
  border-right-style: solid;
  border-color: #eb1958;
  padding: 1rem;
  position: fixed;
  top: 0.25rem;
  bottom: auto;
  width: 175px;
  height: 100%;
  transform: translateX(-100%); /* ทำให้เมนูเลื่อนออกไป */
  transition: transform 0.3s ease; /* เพิ่มเอฟเฟกต์การเลื่อน */
  z-index: 1000; /* ทำให้เมนูอยู่ด้านหน้า */
}

.side-bar.active { /* สถานะเมนูเมื่อถูกเปิด */
  transform: translateX(0); /* ทำให้เมนูเลื่อนเข้ามา */
}

.side-bar ul {
  margin-top: 8rem; /* ระยะห่างด้านบนของรายการ */
}

header {
  button {
    transition: background-color color filter 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
  }
  button:hover img {
    filter: invert(0%); /* สีภาพของรูปเมื่อเม้าส์ไปชี้ */
  }
  button:hover {
    background-color: #ffffff; /* สีพื้นหลังเมื่อเม้าส์ไปชี้ */
    color: #000000; /* สีตัวอักษรเมื่อเม้าส์ไปชี้ */
  }
}

aside {
  button {
    transition: background-color color filter 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
  }
  button:hover img {
    filter: invert(0%); /* สีภาพของรูปเมื่อเม้าส์ไปชี้ */
  }
  button:hover {
    background-color: #ffffff; /* สีพื้นหลังเมื่อเม้าส์ไปชี้ */
    color: #000000; /* สีตัวอักษรเมื่อเม้าส์ไปชี้ */
  }
}

main.content {
  margin-left: 0;
}

button {
  font-family: 'sov-monomon', sans-serif;
}

.sidebar-buttons {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  button {
    background-color: #eb1958;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
} 

.content {
  margin-left: 220px;
  padding: 1rem;
  text-wrap: wrap; /* ข้อความขึ้นบรรทัดใหม่เมื่อเต็ม */
  transition: background-color color filter 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
  p {
    a.button {
      color: #ffffff; /* สีข้อความ */
      padding: 4px 12px; /* ระยะห่างภายในปุ่ม */
      text-align: center; /* จัดตำแหน่งข้อความ */
      text-decoration: none; /* ลบขีดเส้นใต้ลิงค์ */
      display: inline-block; /* ทำให้ปุ่มอยู่ในบรรทัดเดียว */
      font-size: 16px; /* ขนาดตัวอักษร */
      border-radius: 7.5px; /* มุมโค้งของปุ่ม */
      border-style: solid; /* ขนาดขอบปุ่ม */
      border-color: #ffffff; /* สีขอบปุ่ม */
      transition: background-color color filter 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
    }
    a.button:hover {
      background-color: #ffffff;
      color: #000000; /* สีข้อความเมื่อเม้าส์ไปชี้ */
      filter: invert(0%);
    }
  }
}

.footer {
  background-color: #0e0e0e;
  border-top-style: solid;
  border-color: #eb1958;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  header h1 {
    transform: translateX(25%);
    line-break: anywhere;
    line-height: 0;
    color: transparent;
  }

  nav#h.header-buttons {
    padding: 10px;
    ul {
      display: flex;
      li {
        a {
          padding: 0.5em 0.7em;
          width: 20px;
          height: 20px;
          padding-left: 10px;
          img {
            margin: 50%;
            transform: translateX(-50%);
          }
        }
        a.iconed {
          line-break: anywhere;
          line-height: 0;
        }
      }
    }
  }

  .side-bar {
    padding: 1rem;
    width: 175px;
    height: 100%;
    position: fixed;
    top: 0.5rem;
    bottom: auto;
    transform: translateX(-100%);
    border-style: none;
    border-right-style: solid;
  }

  .side-bar.active {
      transform: translateX(0);
  }

  .content {
      margin-left: 0;
      padding-top: 60px;
  }
}
